/* src/styles/portfolio.css */
.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 2rem;
}
.marquee-content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: 2rem;
  animation: scroll 30s linear infinite;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.masonry-grid {
  column-count: 1;
  column-gap: 1.5rem;
}
@media (min-width: 768px) {
  .masonry-grid {
    column-count: 2;
  }
}
